* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto-black";

}

html,
body {
  width: 100%;
  height: 100%;

}

@font-face {
  font-family: "Roboto-black";
  src: url(./extras/Roboto-Regular.ttf);
}



.outerContainer {
  width: 100vw;
  height: 100vh;

  display: flex;


}

.group-container {
  width: 30vw;
  height: 100vh;
  background: white;

}

.screen-container {
  width: 70vw;
  height: 100vh;
  background-color: #DAE5F5;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 9em;
}

.screen-container img {
  width: 30em;
}

.screen-text {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1em;
  font-weight: 700;
}

.screen-text h3 {
  width: fit-content;
  font-size: small;
  font-weight: 500;

}

.endtoend {
  margin-top: 12em;
  display: flex;
}

.endtoend svg {
  width: 0.8em;
  height: 1em;
}

.endtoend h6 {
  font-weight: 400;
}

.groupnames-list {
  background: white;
  width: 80%;
  height: 80vh;
  margin: 6vh;
  overflow-y: auto;

  overflow-x: hidden;

  padding: 1rem;

  box-sizing: border-box;

  scrollbar-width: thin;

  scrollbar-color: #888 #f1f1f1;
}




.groupnames-list::-webkit-scrollbar {
  width: 4px;

}

.groupnames-list::-webkit-scrollbar-thumb {
  background: #888;

  border-radius: 4px;

}

.groupnames-list::-webkit-scrollbar-thumb:hover {
  background: #555;

}

.groupnames-list::-webkit-scrollbar-track {
  background: #f1f1f1;

  border-radius: 4px;

}

.add-btn {
  border: #DAE5F5;
  border-radius: 50%;
  width: 3.5vw;
  height: 7vh;
  background-color: #16008B;
  color: white;
  font-size: 5vh;
  position: absolute;
  left: 25vw;
  bottom: 6vh;
  z-index: 999;
  position: fixed;
}

/*same for pc resolution cause add button will always exist*/

.add-btn-mobile-on {
  border: #DAE5F5;
  border-radius: 50%;
  width: 3.5vw;
  height: 7vh;
  background-color: #16008B;
  color: white;
  font-size: 5vh;
  position: absolute;
  left: 25vw;
  bottom: 6vh;
  z-index: 999;
  position: fixed;
}

.add-btn-mobile-on {
  border: #DAE5F5;
  border-radius: 50%;
  width: 3.5vw;
  height: 7vh;
  background-color: #16008B;
  color: white;
  font-size: 5vh;
  position: absolute;
  left: 25vw;
  bottom: 6vh;
  z-index: 999;
  position: fixed;
}

.dialog-outer {
  border-radius: 6px;
  width: 32%;
  height: 32%;
  background: white;
  top: 30%;
  left: 25%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 1vw 2vw;
  gap: 3vh;
  inset: 1;

}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(192, 182, 182, 0.5);
  /* Semitransparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /*top in the layer*/

}

.dialog-outer h3 {
  font-weight: 600;
}

.dialog-outer h2 {
  font-weight: 700;
}


.group-name-container {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 1vw;

}

.group-name-container input {
  padding: 1vw;
  border: 1px solid gray;
  border-radius: 20vw;
  width: 18vw;
  align-self: center;
}

.color-container {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 1vw;
}

.color-container button:hover,
.color-container button:focus {
  border: 3px solid blue;
}

.color-container button {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  border: 1vh;
}


.createbtn-div {
  display: flex;
  flex-direction: row-reverse;
}

.createbtn-div button {
  background-color: #001f8b;
  color: white;
  padding: 0.2vw 2vw;
  border-radius: 5px;
}

.grouplist-outer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 6vh;
}

.grouplist-outer h1 {
  margin-bottom: 2vh;
}

.groupnames-list {
  padding: 0vw;
  margin-top: 0vw;


}

.list-outer {
  display: flex;
  justify-items: center;
  align-items: center;
  height: fit-content;
  gap: 1vw
}

.list-outer:hover,
.list-outer:focus {
  background-color: #2F2F2F2B;
}



.list-dp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  width: 3.5vw;
  height: 3.5vw;
  background-color: rgb(151, 133, 169);
  border-radius: 50%;
  padding: 2px 2px;
  color: white;
}

.groupnames-list ul {
  list-style-type: none;
}

.groupnames-list div {
  font-size: 3.5vh;
  margin-bottom: 1vh;
}

.notes-outer-Container {
  position: relative;

  z-index: 999;
  width: 70vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

}

.Navbar {
  background-color: #001f8b;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 10%;
  top: 0;
  left: 0;
  position: sticky;
  margin: 0;
  padding: 0;
  z-index: 999;
  gap: 1.5vw;
  padding-bottom: 2vh;
  padding-left: 1vw;
}

.Navbar svg {
  display: none;
}

.Navbar .list-dp {
  font-size: 1.5vw;
}

.Navbar h1 {
  font-size: 3.5vh;
  color: white;
  margin-top: 2vh;

}

.notes-screen {
  width: 100%;
  height: 70%;
  background-color: #DAE5F5;
  border-bottom-left-radius: 1vw;
  overflow-y: auto;

  overflow-x: hidden;

  padding: 1rem;

  box-sizing: border-box;

  scrollbar-width: thin;
  /*for many browsers*/
  scrollbar-color: #f1f1f1 #888;

}

/* For WebKit browsers (like Chrome, Edge, and Safari) */
.notes-screen::-webkit-scrollbar {
  width: 8px;

}

.notes-screen::-webkit-scrollbar-track {
  background: #f1f1f1;
  height: 5px;

}

.notes-screen::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;

}

.notes-screen::-webkit-scrollbar-thumb:hover {
  background: #555;

}


.each-notes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  height: 30%;
  background-color: white;
  margin: 2vh 2vw 2vh;
  padding: 1vw 1vw;
  font-weight: 400;
}

.date-div {
  display: flex;
  justify-content: flex-end;
  bottom: 0;
}


/* .each-notes h6 {
  position: relative;
  left: 53vw;
  top: 4vw;
} */


.text-screen {

  position: relative;
  width: 100%;
  height: 30%;
  background-color: #001f8b;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-bottom-left-radius: 1vw;

}

.text-screen textarea {

  width: 100%;
  height: 100%;
  border: 1.5vw solid #001f8b;
  position: absolute;

  top: 0vh;

  bottom: 0;

  box-sizing: border-box;
  padding: 1vw;
  border-radius: 2vw;
  resize: none;


}

.text-screen svg {
  position: absolute;

  z-index: 999;
  margin: 0;
  bottom: 0;
  right: 0;
  margin-bottom: 5vh;
  margin-right: 2vw;
}

/*for tablet*/
@media (max-width: 768px) {


  .outerContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }

  .group-container {
    width: 30vw;
    height: 100vh;
    background: white;

  }

  .screen-container {
    width: 70vw;
    height: 100vh;
    background-color: #DAE5F5;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 6em;
  }

  .screen-container img {
    width: 25em;
  }

  .screen-text {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1em;
    font-weight: 600;
  }

  .screen-text h3 {
    width: fit-content;
    font-size: small;
    font-weight: 300;

  }

  .endtoend {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .endtoend svg {
    width: 0.8em;
    height: 0.5em;
  }

  .endtoend h6 {
    font-weight: 200;
  }

  .groupnames-list {
    background: white;
    width: 80%;
    height: 80vh;
    margin: 6vh;
    overflow-y: auto;

    overflow-x: hidden;

    padding: 1rem;

    box-sizing: border-box;

    scrollbar-width: thin;
    /*for many browsers*/
    scrollbar-color: #888 #f1f1f1;
  }


  .add-btn {
    border: #DAE5F5;
    border-radius: 50%;
    width: 3vw;
    height: 6vh;
    background-color: #16008B;
    color: white;
    font-size: 3vh;
    position: absolute;
    left: 25vw;
    bottom: 6vh;
    z-index: 999;
    position: fixed;
  }

  .add-btn-mobile-on {
    border: #DAE5F5;
    border-radius: 50%;
    width: 3vw;
    height: 6vh;
    background-color: #16008B;
    color: white;
    font-size: 3vh;
    position: absolute;
    left: 25vw;
    bottom: 6vh;
    z-index: 999;
    position: fixed;
  }

  .add-btn-mobile-off {
    border: #DAE5F5;
    border-radius: 50%;
    width: 3vw;
    height: 6vh;
    background-color: #16008B;
    color: white;
    font-size: 3vh;
    position: absolute;
    left: 25vw;
    bottom: 6vh;
    z-index: 999;
    position: fixed;
  }

  .dialog-outer {
    border-radius: 5px;
    width: 30%;
    height: 28%;
    background: white;
    top: 30%;
    left: 25%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 1vw 2vw;
    gap: 2vh;
    inset: 1;

  }

  .dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(192, 182, 182, 0.5);
    /* Semitransparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /*top in the layer*/

  }

  .dialog-outer h3 {
    font-weight: 500;
    font-size: 2vh;


  }

  .dialog-outer h2 {
    font-size: 3vh;
    font-weight: 600;
  }

  .group-name-container {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 1vw;

  }

  .group-name-container input {
    padding: 1vw;
    font-size: 2vh;
    border: 1px solid gray;
    border-radius: 20vw;
    width: 18vw;
    align-self: center;
  }

  .color-container {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 1vw;
  }

  .color-container button:hover,
  .color-container button:focus {
    border: 2px solid blue;
  }

  .color-container button {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    border: 1vh;
  }


  .createbtn-div {

    display: flex;
    flex-direction: row-reverse;

  }

  .createbtn-div button {
    background-color: #001f8b;
    color: white;
    padding: 0.1vw 1vw;
    border-radius: 5px;
    font-size: 2vh;
  }


  .grouplist-outer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 7vh;

  }

  .grouplist-outer h1 {
    margin-bottom: 3vh;
  }

  .groupnames-list {
    padding: 0;
    margin-top: 0vw;
    height: 65vh;
  }



  .list-outer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 9vh;
    padding-top: 1vh;
    gap: 2vw;


  }

  .list-outer:hover,
  .list-outer:focus {
    background-color: #2F2F2F2B;
  }

  .list-dp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 50%;
    color: white;

  }

  .groupnames-list ul {
    list-style-type: none;
    gap: 1vh;
  }

  .groupnames-list div {
    font-size: 3.5vh;
    margin-bottom: 5vh;
    font-size: 2.5vh;
  }

  .notes-outer-Container {
    position: relative;

    z-index: 999;
    width: 70vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

  }

  .Navbar {
    background-color: #001f8b;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    position: sticky;
    margin: 0;
    padding: 0;
    z-index: 999;
    gap: 1.5vw;
    padding-bottom: 2vh;
    padding-left: 1vw;
  }

  .Navbar svg {
    display: none;
  }

  .Navbar .list-dp {
    font-size: 1.5vw;
  }

  .Navbar h1 {
    font-size: 3vh;
    color: white;
    margin-top: 2vh;

  }

  .notes-screen {
    width: 100%;
    height: 70%;
    background-color: #DAE5F5;
    border-bottom-left-radius: 1vw;
    overflow-y: auto;

    overflow-x: hidden;

    padding: 1rem;

    box-sizing: border-box;

    scrollbar-width: thin;
    /*for many browsers*/
    scrollbar-color: #f1f1f1 #888;

  }

  /* For WebKit browsers (like Chrome, Edge, and Safari) */
  .notes-screen::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
  }

  .notes-screen::-webkit-scrollbar-track {
    background: #f1f1f1;
    height: 5px;

  }

  .notes-screen::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;

  }

  .notes-screen::-webkit-scrollbar-thumb:hover {
    background: #555;

  }


  .each-notes {
    width: 95%;
    height: 30%;
    background-color: white;
    margin: 2vh 2vw 2vh;
    padding: 1.5vw 1.5vw;
    font-weight: 300;
    font-size: 1.8vh;
  }

  .date-div {
    display: flex;
    justify-content: flex-end;
    bottom: 0;
  }

  /* .each-notes h6 {
    position: relative;
    left: 48vw;
    top: 6.5vw;
  } */


  .text-screen svg {
    position: absolute;

    z-index: 999;
    margin: 0;
    bottom: 0;
    right: 0;
    margin-bottom: 5vh;
    margin-right: 2vw;
    height: 3vh;
  }


}

/*for phone*/
@media (max-width: 426px) {
  .outerContainer {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;



  }

  .group-container {
    width: 100%;
    height: 100vh;

    padding: 0;

  }

  .screen-container {
    display: none;

  }

  .groupnames-list {
    padding: 0;
    background: white;
    width: 80%;
    height: 100%;
    margin-top: 6vh;
    overflow-y: auto;
    /* Enables vertical scrolling if content overflows */
    overflow-x: hidden;
    /* Prevents horizontal scrolling */
    padding: 1rem;
    /* Optional: Adds inner spacing */
    box-sizing: border-box;
    /* Ensures padding is included in width/height */
    scrollbar-width: thin;
    /*for many browsers*/
    scrollbar-color: #888 #f1f1f1;

  }

  .add-btn {
    border: #DAE5F5;
    border-radius: 50%;
    width: 7.5vh;
    height: 7vh;
    background-color: #16008B;
    color: white;
    font-size: 5vh;
    position: fixed;
    left: 80vw;
    bottom: 6vh;
    z-index: 999;

  }

  .add-btn-mobile-on {
    border: #DAE5F5;
    border-radius: 50%;
    width: 7.5vh;
    height: 7vh;
    background-color: #16008B;
    color: white;
    font-size: 5vh;
    position: fixed;
    left: 80vw;
    bottom: 6vh;
    z-index: 999;
  }

  .add-btn-mobile-off {
    display: none;
  }



  .dialog-outer {
    border-radius: 6px;
    width: 52%;
    height: fit-content;
    background: white;
    top: 30%;
    left: 25%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 2vw 2.2vw;
    gap: 3vh;
    inset: 1;

  }

  .dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(192, 182, 182, 0.5);
    /* Semitransparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /*top in the layer*/

  }

  .dialog-outer h3 {
    font-weight: 500;
  }

  .dialog-outer h2 {
    font-weight: 600;
  }

  .group-name-container {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 2vw;

  }

  .group-name-container input {
    padding: 1vw;
    border: 1px solid gray;
    border-radius: 20vw;
    width: 26vw;
    align-self: center;
    font-size: 3vw;

  }

  .color-container {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 1.8vw;
  }

  .color-container button:hover,
  .color-container button:focus {
    border: 3px solid blue;
  }

  .color-container button {
    width: 2.5vw;
    height: 3vw;
    border-radius: 50%;
    border: 1vh;
  }


  .createbtn-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .createbtn-div button {
    background-color: #001f8b;
    color: white;
    padding: 0.2vw 8vw;
    border-radius: 5px;
  }

  .grouplist-outer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 3vh;


  }

  .grouplist-outer h1 {
    margin-bottom: 1vh;
  }

  .groupnames-list {
    padding: 0;
    margin-top: 0vw;
    height: 85vh;
  }



  .list-outer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 9vh;
    padding-top: 0;
    gap: 3vw;
    font-weight: 550;
  }

  .list-outer:hover,
  .list-outer:focus {
    background-color: #2F2F2F2B;
  }

  .list-dp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    width: 10vw;
    height: 9.5vw;
    border-radius: 50%;
    color: white;
  }

  .list-dp h5 {
    font-weight: 400;
  }



  .groupnames-list ul {
    list-style-type: none;

  }

  .groupnames-list div {
    font-size: 4.5vh;
    margin-bottom: 3vh;
    font-size: 2.5vh;
  }

  .notes-outer-Container {
    position: absolute;
    /*absolute to take the entire screen*/

    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

  }

  .Navbar {
    background-color: #001f8b;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    position: sticky;
    margin: 0;
    padding: 0;
    z-index: 999;
    gap: 2.5vw;
    padding-bottom: 2vh;
    padding-left: 1vw;
  }

  .Navbar svg {
    display: inline;
    margin-top: 3vh;
  }

  .Navbar .list-dp {
    font-size: 2.5vw;
  }

  .Navbar h1 {
    font-size: 3vh;
    color: white;
    margin-top: 2.5vh;
    font-weight: 300;

  }

  .notes-screen {
    width: 100%;
    height: 70%;
    background-color: #DAE5F5;
    border-bottom-left-radius: 1vw;
    overflow-y: auto;
    /* Enables vertical scrolling if content overflows */
    overflow-x: hidden;
    /* Prevents horizontal scrolling */
    padding: 1rem;
    /* Optional: Adds inner spacing */
    box-sizing: border-box;
    /* Ensures padding is included in width/height */
    scrollbar-width: thin;
    /*for many browsers*/
    scrollbar-color: #f1f1f1 #888;

  }

  .each-notes {
    width: 97%;
    height: 40%;
    background-color: white;
    margin: 2vh 1vw 2vh;
    padding: 1vw 1vw;
    font-weight: 400;
  }


  .date-div {

    display: flex;
    justify-content: flex-end;
    bottom: 0;


  }

  /* .each-notes h6 {
    position: relative;
    right: 57vw;
    top: 23vw;

  } */


  .text-screen {

    position: relative;
    width: 100%;
    height: 25%;
    background-color: #001f8b;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-bottom-left-radius: 1vw;

  }

  .text-screen textarea {

    width: 100%;
    height: 100%;
    border: 1.5vw solid #001f8b;
    position: absolute;
    /* Align explicitly within the container */
    top: 0vh;
    /* Start at the top */
    bottom: 0;
    /* Start at the left */
    box-sizing: border-box;
    padding: 1vw;
    border-radius: 2vw;
    resize: none;


  }

  .text-screen svg {
    position: absolute;

    z-index: 999;
    margin: 0;
    bottom: 0;
    right: 0;
    margin-bottom: 5vh;
    margin-right: 2vw;
  }


}